<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display'] bg-gray-100">
    <!-- Navbar -->
    <nav class="w-full fixed top-0 left-0 px-5 py-3 bg-white shadow-lg z-10">
        <h3 class="text-xl font-bold text-blue-500">E-commerce</h3>
    </nav>

    <!-- Success & Error Messages -->
    <% if(error.length > 0){ %>
    <div class="fixed top-16 left-1/2 transform -translate-x-1/2 p-3 rounded-md bg-red-500 shadow-lg">
        <span class="inline-block text-white">
            <%= error %>
        </span>
    </div>
    <% } %>
    
    <% if(success.length > 0){ %>
    <div class="fixed top-16 left-1/2 transform -translate-x-1/2 p-3 rounded-md bg-green-500 shadow-lg">
        <span class="inline-block text-white">
            <%= success %>
        </span>
    </div>
    <% } %>

    <!-- Main Content -->
    <div class="w-full h-screen flex flex-col lg:flex-row justify-center items-center px-5 py-20 lg:px-20">
        <!-- Register Section -->
        <div class="w-full lg:w-1/2 flex items-center justify-center mb-10 lg:mb-0">
            <div class="w-full max-w-md px-5 lg:px-10">
                <h3 class="text-4xl font-bold">Welcome to <span class="text-blue-400">E-commerce</span></h3>
                <h4 class="text-2xl mb-5">Create your account</h4>
                <form autocomplete="off" action="/users/register" method="post">
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-300 focus:outline-none focus:ring-2 focus:ring-blue-400"
                        type="text" placeholder="Full Name" name="fullname" required>
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-300 focus:outline-none focus:ring-2 focus:ring-blue-400"
                        type="email" placeholder="Email" name="email" required>
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-300 focus:outline-none focus:ring-2 focus:ring-blue-400"
                        type="password" placeholder="Password" name="password" required>
                    <input class="px-5 py-3 mt-2 w-full rounded-full bg-blue-500 text-white hover:bg-blue-600 transition" type="submit"
                        value="Create My Account">
                </form>
            </div>
        </div>

        <!-- Login Section -->
        <div class="w-full lg:w-1/2 flex items-center justify-center">
            <div class="w-full max-w-md px-5 lg:px-10">
                <h4 class="text-2xl font-bold capitalize mb-5">Login to your account</h4>
                <form autocomplete="off" action="/users/login" method="post">
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-300 focus:outline-none focus:ring-2 focus:ring-blue-400"
                        type="email" placeholder="Email" name="email" required>
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-300 focus:outline-none focus:ring-2 focus:ring-blue-400"
                        type="password" placeholder="Password" name="password" required>
                    <input class="px-5 py-3 mt-2 w-full rounded-full bg-blue-500 text-white hover:bg-blue-600 transition" type="submit"
                        value="Login">
                </form>
            </div>
        </div>
    </div>

</body>

</html>
